# UVICORN_HOST="0.0.0.0"
# UVICORN_PORT="999"
# UVICORN_SSL_CERTFILE="cert/path"
# UVICORN_SSL_KEYFILE="cert/path"

### Marzneshin Panel Settings
MARZNESHIN_USERNAME="sudo_admin"
MARZNESHIN_PASSWORD="sudo_admin"
MARZNESHIN_ADDRESS="https://sub.domain.com:port"
MARZNESHIN_SUBSCRIPTION_URL_PREFIX="https://sub.domain.com:port"

### Marzban Panel Settings
MARZBAN_JWT_TOKEN="xxxxxxxxxxxxxxxxxxxxxxxxxx"
MARZBAN_XRAY_SUBSCRIPTION_PATH="sub"